In [1]:
import pandas as pd
import numpy as np

In [3]:
filename = "data/valid-words.txt"
with open(filename, mode="r") as f:
    text = f.read()

words = pd.DataFrame([list(word) for word in text.split()], dtype="string")
words.head()

   0  1  2  3  4
0  a  a  h  e  d
1  a  a  l  i  i
2  a  a  r  g  h
3  a  a  r  t  i
4  a  b  a  c  a

In [8]:
a = words.loc[0, :]
a

0    a
1    a
2    h
3    e
4    d
Name: 0, dtype: string

In [13]:
"".join(a)

'aahed'

In [10]:
b = list("ggybb")
list(zip(a, b))

[('a', 'g'), ('a', 'g'), ('h', 'y'), ('e', 'b'), ('d', 'b')]

In [12]:
pd.Series([1, 2, 3, 0]).sort_values()

3    0
0    1
1    2
2    3
dtype: int64